<style>
	.zoom{
		animation:fadeIn 3s;
	}
	@keyframes fadeIn{
		0%{opacity:0;}
		100%{opacity: 1;}
	}
	h1{
		padding-top: 50px;
	}
</style>
<div class="container text-center p-4">
    <div class="d-flex justify-content-center">
        <div class="card" >
        	 <h1 align="center" class="card-title">You have a LOW / NO chance</h1>
            <p align="center"><img class="zoom" src="https://thumbs.dreamstime.com/b/better-luck-next-time-rubber-stamp-over-white-background-88415080.jpg" class="card-img-top" alt="..." width="400" height="400"></p>
            <div class="card-body">
               <!-- <h5 align="center" class="card-title">You have a LOW / NO chance</h5>-->
                <h2 align="center" class="card-text">The model has predicted that you  have a low chance</h2>
            </div>
        </div>
    </div>
</div>